@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: poppins, sans-serif;
}

/* PROFILE CARD */

.encapsulador {
  gap: 100px;
  
}




.image {
  background-color: #4070f4;
  padding: 3px;
  border-radius: 50%;
  height: 160px;
  width: 160px;
  position: relative;
  margin-bottom: 10px;
}

.image .profile-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}



.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow:0px 0px 93px 20px rgba(75,75,77,0.9);
  -moz-box-shadow: 0px 0px 93px 20px rgba(75,75,77,0.9);
  box-shadow: 0px 0px 93px 20px rgba(75,75,77,0.9);
  padding: 55px;
  border-radius: 24px;
  transition: 500ms;
}

.profile-card:hover {
  scale: 103%;
}

.profile-card .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

.info .name {
  font-size: 22px;
  font-weight: 400;
}

.profile-card .media-buttons {
  display: flex;
  align-items: center;
}

.media-buttons .link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  background-color: #4070f4;
  margin: 0 8px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  cursor: pointer;
}

.link img {
  color: #fff;
}

.media-buttons .linkedin {
  background: #0077B5;
}
.media-buttons .github {
  background: #2b3137;
}
.media-buttons .instagram {
  background: #e1306c;
}

.optionsIcons {
  color: #333;
}

